h4 {
    display: inline;
}

.location-details label {
    display: block;
}

.container .row > [class^="col"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #E5EDF5;
    color: #5f5f5f;
}
.container .row{
}